In [3]:
import pandas as pd
huge_content = pd.read_csv("plant_based_food_content.csv")
nutri_matter = pd.read_csv("human_daily_nutrition.csv")
code_conversion = pd.read_csv("final_database.csv")

/var/folders/st/kgyxq0r96fdbdc15rn_jpl8m0000gn/T/ipykernel_46672/1318021649.py:2: DtypeWarning: Columns (4,5,6,7,8,9,13,14,21,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  huge_content = pd.read_csv("plant_based_food_content.csv")

In [19]:
nutri_matter.nutrient.to_list()
code_conversion.db_name.to_list()
print(code_conversion.shape)
code_conversion.dropna(subset=['my_name'], inplace=True)
print(code_conversion.shape)

(854, 2)
(59, 2)

In [21]:
len(code_conversion.db_name.to_list())

59

In [22]:
# remove NA rows in orig_source_id and orig_source_name
huge_content.dropna(subset=['orig_food_id','orig_source_id', 'orig_source_name'], inplace=True)
huge_content.orig_food_common_name.value_counts()
huge_content = huge_content[huge_content.orig_source_id.isin(code_conversion.db_name.to_list())]

pivot_df = huge_content.pivot_table(index='orig_food_common_name', columns='orig_source_id', values='orig_max', fill_value=0).reset_index()

# Renaming the index column back to 'food'
pivot_df.rename_axis(None, axis=1, inplace=True)
pivot_df.rename(columns={'orig_food_common_name': 'food'}, inplace=True)

# Display the transformed DataFrame
pivot_df

,food,ALPHA-TOCOPHEROL,AMYLOSE,ASCORBATE|ASCORBIC-ACID,ASCORBIC-ACID,BIOTIN,CALCIUM,CARBOHYDRATE,CARBOHYDRATES,CARBOHYDRATE|CARBOHYDRATES,...,THREONINE,TOCOPHEROL,TOCOPHEROLS,TRYPTOPHAN,VALINE,VIT-B-6,VIT-E,VITAMIN-B-6,VITAMIN-K-1,ZINC
0,Aceituna Dulce,0.0,0,0.0,133.0,0.0,92.000000,0,91400.000000,0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00
1,Almond,27.5,0,0.0,1.3,0.0,296.200000,0,0.000000,24300,...,773.0,0.0,0.0,374.50,1075.20,0.10,0.0,0.0,0.0,3.70
2,American Cranberry,8.1,0,0.0,100.3,0.0,115.700000,0,94205.000000,0,...,0.0,0.0,0.0,0.00,0.00,0.54,0.0,0.0,0.0,1.90
3,American Persimmon,0.0,0,0.0,185.5,0.0,1035.933333,0,94100.000000,0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,9.35
4,Apple,3.7,0,0.0,40.2,0.0,57.000000,0,94855.000000,0,...,43.5,0.0,0.0,12.40,56.00,0.30,0.0,0.0,0.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,Vinespinach,0.0,0,0.0,1478.5,0.0,1580.000000,0,49275.000000,0,...,797.0,0.0,0.0,406.00,942.00,0.00,0.0,0.0,0.0,0.00
112,Water Lotus,0.0,0,0.0,1.5,0.0,618.266667,0,77562.666667,0,...,425.0,0.0,0.0,137.15,534.55,0.00,0.0,0.0,0.0,2.80
113,Water chestnut,0.0,0,0.0,31.7,0.0,26.500000,0,87600.000000,0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00
114,Wild Yam,0.0,0,0.0,19.4,0.0,306.000000,0,89700.000000,0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,5.60
115,Yambean,0.0,0,0.0,184.5,0.0,138.000000,0,80645.000000,0,...,322.5,0.0,0.0,0.00,387.00,0.00,0.0,0.0,0.0,0.00

In [25]:
pivot_df.set_index("food")

,ALPHA-TOCOPHEROL,AMYLOSE,ASCORBATE|ASCORBIC-ACID,ASCORBIC-ACID,BIOTIN,CALCIUM,CARBOHYDRATE,CARBOHYDRATES,CARBOHYDRATE|CARBOHYDRATES,CHLORIDE,...,THREONINE,TOCOPHEROL,TOCOPHEROLS,TRYPTOPHAN,VALINE,VIT-B-6,VIT-E,VITAMIN-B-6,VITAMIN-K-1,ZINC
food,,,,,,,,,,,,,,,,,,,,,
Aceituna Dulce,0.0,0,0.0,133.0,0.0,92.000000,0,91400.000000,0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00
Almond,27.5,0,0.0,1.3,0.0,296.200000,0,0.000000,24300,0.0,...,773.0,0.0,0.0,374.50,1075.20,0.10,0.0,0.0,0.0,3.70
American Cranberry,8.1,0,0.0,100.3,0.0,115.700000,0,94205.000000,0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.54,0.0,0.0,0.0,1.90
American Persimmon,0.0,0,0.0,185.5,0.0,1035.933333,0,94100.000000,0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,9.35
Apple,3.7,0,0.0,40.2,0.0,57.000000,0,94855.000000,0,0.0,...,43.5,0.0,0.0,12.40,56.00,0.30,0.0,0.0,0.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vinespinach,0.0,0,0.0,1478.5,0.0,1580.000000,0,49275.000000,0,0.0,...,797.0,0.0,0.0,406.00,942.00,0.00,0.0,0.0,0.0,0.00
Water Lotus,0.0,0,0.0,1.5,0.0,618.266667,0,77562.666667,0,0.0,...,425.0,0.0,0.0,137.15,534.55,0.00,0.0,0.0,0.0,2.80
Water chestnut,0.0,0,0.0,31.7,0.0,26.500000,0,87600.000000,0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00
Wild Yam,0.0,0,0.0,19.4,0.0,306.000000,0,89700.000000,0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,5.60
Yambean,0.0,0,0.0,184.5,0.0,138.000000,0,80645.000000,0,0.0,...,322.5,0.0,0.0,0.00,387.00,0.00,0.0,0.0,0.0,0.00

In [26]:
pivot_df.to_csv("real_final_foodb.csv")